body {
  display: flex;
  flex-wrap: wrap;
}

.container1 {
  width: 50px;
  height: 50px;
  border: 1px solid black;
}

.fit-image1 {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.container2 {
  width: 300px;
  height: 200px;
  border: 1px solid black;
}

.fit-image2 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container3 {
  width: 100vw;
  height: 50vh;
  border: 1px solid black;
}

.fit-image3 {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.container4 {
  width: 50px;
  height: 50px;
  border: 1px solid black;
}

.fit-image4 {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}
